
:root {
    --normal: #A8A77A;
    --fire: #EE8130;
    --water: #6390F0;
    --electric: #F7D02C;
    --grass: #67a941;
    --ice: #4dc4be;
    --fighting: #C22E28;
    --poison: #A33EA1;
    --ground: #E2BF65;
    --flying: #A98FF3;
    --psychic: #F95587;
    --bug: #A6B91A;
    --rock: #B6A136;
    --ghost: #735797;
    --dragon: #6F35FC;
    --dark: #705746;
    --steel: #9f9fcf;
    --fairy: #D685AD;
}

@font-face {
    font-family: PokemonGb;
    src: url(../PokemonGb.ttf);
  }

body {
    font-family: "Flexo-Medium", Arial, Helvetica, sans-serif;
    background: linear-gradient(356deg, rgba(255,170,241,1) 0%, rgba(217,170,255,1) 100%);
}

#main-heading {
    font-family: PokemonGb;
    margin: 2rem 0 2.5rem;
    text-align: center;
}

#poke-menu {
    font-family: PokemonGb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    margin: 0 0 25px 0;
}

#poke-menu .btn {
    font-size: inherit;
    /* width: auto;
    height: auto;
    margin: auto; */
}

#filter-div {
    display: flex;
    align-items: center;
}

.gen-dropdown {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
}

#gen-dropdown-btn span {
    font-weight: bold;
    margin-right: 5px;
}

.gen-dropdown {
    /* font-size: 0.5rem; */
}

.toggle {
    background-color: #5c636a;
}

.gen-dropdown-menu {

    border-radius: 5px;
    /* border: 1px solid grey; */
    box-shadow: 2.5px 2.5px 10px black;
    padding: 0;

    position: absolute;
    background-color: white;
    z-index: 99999;
    top: 35px;
    left: -4px;
    /* height: 0; */
    display: none;
    /* transition: height 1s; */
    overflow: hidden;

}

.gen-dropdown-menu a {
    padding: 4px 16px;
    list-style-type: none
}

.gen-dropdown-menu a:hover {
    background-color: rgb(243, 243, 243);
}

.gen-dropdown-menu.show {

    clip: rect(auto, auto, 20rem, auto);
}

#search-div {
    display: flex;
    align-items: center;
    width: 400px;
    margin: 0;
}

/* #pokelist li {
    margin: 10px 20px;
} */

/* #pokelist button {
    width: 100%;
} */

.loading-wrapper {
    display: none;
}

.loading-gif {
    width: 120px;
}

.loading-text {
    text-align: center;
    margin: 10px 0;
}

.loading-wrapper.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
  
.modal-header .btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    margin: 0;
    text-decoration: underline;
}

.modal-header {
    justify-content: center;
}


.modal-title span {
    /* padding: 0 0 0 0.5rem; */
    color: rgb(67, 67, 67);
    opacity: 0.85;
}

.modal-info-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.modal-info-image-wrapper {
    width: 50%;
}

.modal-info-image-wrapper img {
    width: 100%;
}

.modal-info-stats-grid {
    width: 50%;
    /* font-size: 1.25rem; */
    background-color: rgb(148, 148, 231);
    border-radius: 5%;
}

.grid-item {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

.grid-title {
    color: white;
    text-shadow: black 1px 1px;
    margin-bottom: 0;
}

.grid-description {
    color: black;
    margin-bottom: 5px;
}

.stats-wrapper {
    margin-bottom: 10px;
}

/* Fix bootstrap transition */
.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}
html {
    scroll-behavior: auto !important
}

.progress-bar {
    background-color: rgb(0, 123, 0)
}

.poke-types {
    /* margin: 10px; */
}

.poke-types span {
    margin-right: 5px;
}

/* define pill for pokemon type later on */
.pill {
    max-width: 100%;

    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    
    white-space: nowrap;
    cursor: default;

    box-sizing:unset;
    vertical-align: middle;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(255, 255, 255);
    /* border: 1px solid rgba(0, 0, 0, 0.25); */
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.5px 1px;
    outline: 0px;

    text-decoration: none;
    font-weight: bold;
    font-family: Lato, Roboto, Helvetica, Arial, sans-serif;
    font-size: 0.8125rem;
    text-shadow: 1px 1px rgba(0, 0, 0, 1);

    width: 50px;
    /* height: 25px; */
    padding: 0.10em 0.35em;

}

.poke-item-col {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* height: auto;
    width: auto;
    margin: 0 auto; */
    /* min-width: 230px; */
    /* max-width: 230px; */
    padding: 0;
    /* margin: 0 5px 10px; */
    /* border: 1px solid red; */
    background-color: inherit;
}

#wrapper {
    display: flex;
    flex-direction: column;
    background: linear-gradient(356deg, rgb(251, 255, 170) 0%, rgb(183, 170, 255) 100%);
    /* padding: 0 100px; */
    margin: 0 auto;
    border: 4px solid rgba(0,0,0,0.25); 
}

.container-md {
    /* border: 2px blue solid; */
    background-color: inherit;
    /* max-width: 100vw; */
    /* width: 920px; */
}

.poke-row {
    background-color: inherit;
    margin: 0 auto;
}

.poke-item {
    position: relative;
    /* height: 305px;
    width: 225px; */
    margin: 0 5px 10px;
    /* border: 2px solid black; */
    border-radius: 5px;
    box-shadow: 0px 0 5px 0px black;
    cursor: pointer;
    background-color: white;
    transition: filter 0.25s;
}

.poke-item:hover {
    filter: drop-shadow(0 0 6px rgba(0,0,0,0.8));
}

.poke-item:hover .poke-thumbnail-bg {
    transform: rotate(45deg) scale(1.1);
}

.poke-item:hover img {
    transform: scale(1.05);
}

/* .poke-item:hover {
    transform: scale(1.1);
    z-index: 9999;
} */

.poke-info {
    padding: 10px;
    background-color: rgb(220, 220, 220);
    border-radius: 5px;
}

.poke-info .poke-id {
    /* text-align: left; */
    color: rgb(67, 67, 67);
    opacity: 0.95;
    padding-left: 10px;
    margin-bottom: 0;
}

.poke-info .poke-name {
    padding-left: 15px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.poke-thumbnail {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
    min-height: auto;
    width: 80%;
}

.poke-thumbnail-bg {
    position: absolute;
    /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" style="opacity:0.5; transform:rotate(145deg);" id="Layer_1" data-name="Layer 1" viewBox="0 0 910.13 908.95"><defs><style>.cls-1{fill:%23fff;opacity:0;}.cls-2{fill:%23999999;}.cls-3{fill:%23999999;}</style></defs><title>Pokeball</title><path class="cls-1" d="M337,730c.61-252,204.75-455.12,456.36-454.09,251.82,1,454.28,204.19,453.77,455.38s-204.7,454.42-455.63,453.56C539.59,1184,336.4,980.67,337,730Z" transform="translate(-337 -275.94)"/><path class="cls-2" d="M510,764.63c35.7,0,71.41.21,107.11-.17,7.31-.08,10.2,2,12,9.28,18.82,73.7,86,125.21,163,125.39A168.44,168.44,0,0,0,955.42,773.8c2-7.44,4.77-9.34,12-9.31q107.67.35,215.35,0c8,0,9.52,1.5,8.64,9.91-17.11,163.09-136.13,305.55-302.49,345.19-136.23,32.45-259,1.84-364.57-90.72-72-63.09-113.69-143.59-129.42-237.73-4.43-26.52-4.49-26.5,22.66-26.5Z" transform="translate(-337 -275.94)"/><path class="cls-3" d="M1073.7,695.83c-34.94,0-69.89-.26-104.82.19-8.34.11-11.65-2.73-13.91-10.64C935.18,616,874.39,565.77,806.24,562c-76.78-4.26-141.58,35.28-170.68,104.14-.87,2.07-1.66,4.19-2.38,6.31-8,23.38-8,23.38-33.4,23.38-64.63,0-129.25-.15-193.88.15-9.61,0-13.84-.92-12.11-12.72,22.8-155.69,106.22-266.09,251.65-325,156.73-63.54,330.1-21.39,443.93,103.13,57.07,62.43,90.45,136.3,101,220.32,1.76,14.11,1.64,14.15-12.93,14.16Q1125.56,695.84,1073.7,695.83Z" transform="translate(-337 -275.94)"/><path class="cls-2" d="M793.12,848.53c-64.13.57-118.48-51.88-119-114.84-.55-67.27,51.26-121,117.05-121.43,64.85-.41,118.47,52.27,119.29,117.21C911.3,794,858.11,848,793.12,848.53Z" transform="translate(-337 -275.94)"/><path class="cls-1" d="M793.1,672.52c32.69.37,57.55,26.21,57.15,59.39-.39,31.86-26.4,56.79-59,56.55a57.74,57.74,0,0,1-57.36-58.33C734.31,697.35,760.2,672.15,793.1,672.52Z" transform="translate(-337 -275.94)"/></svg>'); */
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: transform 0.25s;
}

.poke-thumbnail img {
    position: relative;
    object-fit: contain;
    height: 100%;
    width: 100%;
    min-width: 50px;
    transition: transform 0.5s;
}

#btn-load-pokemon {
    height: 50px;
    width: 200px;
    margin: 25px auto 0;
}

/* observer {
    display: inline-block;
    width: 100%;
    height: 75px;
    background-color: yellow;
} */

#no-results-msg {
    font-family: PokemonGb;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    opacity: 0.8;
}

#no-result-img {
    margin: 0 auto;
}

.back-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    position: fixed;
    height: 60px;
    width: 60px;
    padding: 10px;
    bottom: 25px;
    right: 25px;
    border: 0;
    box-shadow: 2.5px 2.5px 10px black;
    background-color: rgba(255, 255, 255, 0.95);
    display: none;
}

.back-to-top img {
    width: 30px;
}

.back-to-top:focus {
    background-color: rgba(255, 255, 255, 0.95);    
}

.back-to-top i {
    opacity: 1;
}


footer {
    display: flex;
    align-content: center;
    justify-content: center;
    border-top: 1px solid rgba(0,0,0,0.25);
    width: 80%;
    margin: 30px auto 20px;
    padding: 30px 0 0;
    font-size: 1rem;
    font-family: PokemonGb;
    text-align: center;
}

footer p {
    margin: auto 0;
    vertical-align: center;
}

footer a {
    display: flex;
    align-items: center;
    height: 30px;
    margin: 0 auto;
    padding-left: 0.5rem;
    color: black;
    font-weight: bold;
    cursor: pointer !important;
}

footer a img {
    padding-bottom: 5px;
}

footer a span {
    padding-left: 0.25rem;
}

@media only screen and (576px > width) {

    body {
        font-size: 5vw;
    }
    
    #main-heading {
        font-size: 10vw;
    }

    #poke-menu {
        flex-direction: column;
    }

    #filter-div {
        flex-direction: column;
        justify-content: center;
        font-size: 4vw;
        margin-bottom: 15px;
    }

    .gen-dropdown-menu {
        position: relative;
        top: 4px;
        /* transform: translate(-5vw, 0); */
    }

    #search-div {
        width: 75vw;
        height: 100%;
        margin: 0 auto;
        font-size: 2vw;
    }

    #search-div input {
        font-size: 4vw;
        border-radius: 5px;
    }

    #search-div .btn {
        display: none;
    }

    #search-div input {
        /* width: 100%;
        height: 100%; */
    }

    .poke-info {
        padding: 5vw;
    }

    .poke-info .poke-id {
        padding: 0;
    }

    .poke-info .poke-name {
        padding: 0;
        margin-bottom: 5px;
        font-size: 8vw;
    }

    .pill {
        height: auto;
        width: 23vw;
        font-size: 5vw;
    }

    .container-md {
        padding: 0;
    }

    .col {
        flex-basis: auto;
    }

    #wrapper {
        /* width: 990px; */
        /* padding: 0 50px; */
    }

    #no-results-msg {
        font-size: 4vw;
    }

    #btn-load-pokemon {
        height: auto;
        width: auto;
        padding: 2vw 4vw;
        font-size: 7vw;
    }

    footer {
        font-size: 3.5vw;
    }

  }

@media only screen and (width >= 576px) {

    #poke-menu {
        flex-direction: column;
    }

    #filter-div {
        justify-content: center;
        margin-bottom: 15px;
    }

    .poke-thumbnail {
        min-height: 175px;
    }

    .container-md {
        /* max-width: 500px; */
    }

    #wrapper {
        /* width: 990px; */
        /* padding: 0 50px; */
    }
  }

@media only screen and (width >= 768px) {

    #filter-div {
        justify-content: flex-start;
    }

    #no-results-msg {
        font-size: 1.5rem;
    }

    .container-md {
        
    }

    .poke-item-col {
        /* height: auto;
        width: auto;
        margin:auto; */
    }

    #wrapper {
        /* width: 990px; */
        /* padding: 0 50px; */
    }
  }

@media only screen and (width >= 992px) {

    .container-md {
        width: 920px;
    }

    .poke-row {
        width: 900px;
    }

    #no-result-img {
        /* width: 80%; */
    }

    .poke-item-col {
        /* height: 305px;
        width: 225px; */
    }

    #wrapper {
        width: 990px;
        /* padding: 0 50px; */
    }
  }

@media only screen and (width >= 1400px) {

    .container-md {
        /* max-width: 1320px; */
    }

    #wrapper {
        /* width: 1380px; */
    }
}

.bg-color-normal {
    background-color: var(--normal);
}

.bg-color-fire {
    background-color: var(--fire);
}

.bg-color-water {
    background-color: var(--water);
}

.bg-color-electric {
    background-color: var(--electric);
}

.bg-color-grass {
    background-color: var(--grass);
}

.bg-color-ice {
    background-color: var(--ice);
}

.bg-color-fighting {
    background-color: var(--fighting);
}

.bg-color-poison {
    background-color: var(--poison);
}

.bg-color-ground {
    background-color: var(--ground);
}

.bg-color-flying {
    background-color: var(--flying);
}

.bg-color-psychic {
    background-color: var(--psychic);
}

.bg-color-bug {
    background-color: var(--bug);
}

.bg-color-rock {
    background-color: var(--rock);
}

.bg-color-ghost {
    background-color: var(--ghost);
}

.bg-color-dragon {
    background-color: var(--dragon);
}

.bg-color-dark {
    background-color: var(--dark);
}

.bg-color-steel {
    background-color: var(--steel);
}

.bg-color-fairy {
    background-color: var(--fairy);
}
