body {
    font-family: "Flexo-Medium", Arial, Helvetica, sans-serif;
    background-image: url("https://thumbs.dreamstime.com/b/pokemon-silhouette-background-vector-cartoon-symbol-art-icon-play-go-sign-concept-ball-pokeball-shape-pokemon-silhouette-142907703.jpg");
}

#main-heading {
    margin-top: 1rem;
    text-align: center;
}

#wrapper {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* position: absolute; */
    /* left: 50%;
    transform: translate(-50%); */
    /* width: 500px; */
    border: 1px black solid;
}

/* #pokelist {
    list-style: none;
    padding: 0;
    width: 100%;
} */

#pokelist li {
    margin: 10px 20px;
}

#pokelist button {
    /* display: block; */
    width: 100%;
    /* border: none; */
    /* background-color: #cdcdcd; */
    /* padding: 14px 28px; */
    /* font-size: 16px; */
    /* cursor: pointer; */
    /* text-align: center; */
}

.loading-wrapper {
    display: none;
}

.loading-gif {
    width: 100px;
}

.loading-text {
    text-align: center;
    margin: 10px 0;
}

.loading-wrapper.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  
#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
    z-index: 999; 
    
    overflow: auto; 
    
    display: grid;
    text-align: center;
}
  
/* .modal {
    margin: auto;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    background: #fff;
    border-radius: 2.5%;
    padding: 15px;
    width: 100%;
    max-width: 700px;
} */
  
.modal-header .btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    margin: 0;
    text-decoration: underline;
}

.modal-header {
    justify-content: center;
}


.modal-title span {
    /* padding: 0 0 0 0.5rem; */
    color: rgb(67, 67, 67);
    opacity: 0.85;
}

.modal-info-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.modal-info-image-wrapper {
    width: 50%;
}

.modal-info-image-wrapper img {
    width: 100%;
}

.modal-info-stats-grid {
    width: 50%;
    /* font-size: 1.25rem; */
    background-color: rgb(148, 148, 231);
    border-radius: 5%;
}

.grid-item {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

.grid-title {
    color: white;
    text-shadow: black 1px 1px;
    margin-bottom: 0;
}

.grid-description {
    color: black;
    margin-bottom: 5px;
}

.stats-wrapper {
    margin-bottom: 10px;
}

/* Fix bootstrap transition */
.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

.progress-bar {
    background-color: rgb(0, 123, 0)
}

.poke-types {
    margin: 10px;
}

.poke-types span {
    margin-right: 5px;
}

/* define pill for pokemon type later on */
.pill {
    max-width: 100%;

    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    
    white-space: nowrap;
    cursor: default;

    box-sizing:unset;
    vertical-align: middle;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(255, 255, 255);
    /* border: 1px solid rgb(0, 0, 0); */
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    /* box-shadow: rgb(59, 59, 59) 0px 2px 2px -2px, rgb(0, 0, 0) 0px 1px 1px -1px; */
    outline: 0px;

    text-decoration: none;
    font-weight: bold;
    font-family: Lato, Roboto, Helvetica, Arial, sans-serif;
    font-size: 0.8125rem;

    width: 50px;
    height: 25px;
    padding: 0.10em 0.35em;

}

.bg-color-grass {
    background-color: green;
}

.bg-color-poison {
    background-color: purple;
}

.bg-color-fire {
    background-color: orange;
}


.container-md {
    border: 2px blue solid;
    /* width: 920px; */
}

@media only screen and (width >= 992px) {
    .container-md {
        max-width: 990px;
    }
  }

@media only screen and (width >= 1400px) {
    .container-md {
        max-width: 1280px;
    }
}

.poke-item-col {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* height: auto; */
    /* width: 230px; */
    /* min-width: 230px; */
    /* max-width: 230px; */
    border: 1px solid red;
    background-color: white;
}

.poke-info {
    /* text-align: center; */
}

.poke-info .poke-id {
    /* text-align: left; */
    color: rgb(67, 67, 67);
    opacity: 0.95;
    padding-left: 10px;
    margin-bottom: 0;
}

.poke-info .poke-name {
    padding-left: 15px;
    font-size: 1.5rem;
}

.poke-thumbnail {
    margin: 0 auto;
    height: auto;
    width: 200px;
    background-color: rgb(231, 231, 231);
}

.poke-thumbnail img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}
